// default layout
.l
	padding: 20px 0
	+clr
	.l-left
		float: left
		padding-right: 34px
		width: 50%
		+box
	.l-right
		float: right
		width: 50%
.l_reverse
	.l-aside
		float: left
		width: 190px
	.l-section
		float: right
		width: 695px
.l_aside-less
	.l-aside
		width: 170px 
	.l-section
		width: 665px 
.l-aside
	float: right
	width: 225px
.l-section
	float: left
	width: 615px
.l-aside, .l-section, .l-page
	padding: 25px
	background: #fff
	box-shadow: 0 0 15px rgba(0,0,0,.11)
.l-section_reset
	width: 665px
	padding: 0
	background: none
	box-shadow: none 